.row {
    @extend .cf;
    max-width: $row-width;
    margin: 0 auto;
}

[class^="col"] {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 $columns-gutter / 2;
    & [class^="col"] {
        &:last-child {
            padding: 0 0 0 $columns-gutter / 2;
        }
        &:first-child {
            padding: 0 $columns-gutter / 2 0 0;
        }
    }
}

@for $i from 0 through $cols {
    .col-#{$i} {
        width: 100%;
    }
    .col-offset-#{$i} {
        margin-left: $i / $cols * 100%;
    }
    .col-pull-#{$i} {
        position: relative;
        left: $i / $cols * -100%;
        right: auto;
    }
    .col-push-#{$i} {
        position: relative;
        left: $i / $cols * 100%;
        right: auto;
    }
}

@media (min-width: 767px) {
    @for $i from 0 through $cols {
        .col-#{$i} {
            width: $i / $cols * 100%;
        }
    }
    .col-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: both;
        &:first-child {
            padding: 0 $columns-gutter / 2;
        }
    }
}

@media (max-width: 767px) {
    [class*="col-push-"],
    [class*="col-pull-"] {
        left: auto;
    }
    @for $i from 0 through $cols {
        .col-small-pull-#{$i} {
            position: relative;
            left: $i / $cols * -100%;
        }
        .col-small-push-#{$i} {
            position: relative;
            left: $i / $cols * 100%;
        }
        .col-centered {
            width: 100%;
        }
        .col-offset-#{$i} {
            margin-left: 0;
        }
        .col-small-#{$i} {
            width: $i / $cols * 100%;
        }
        .col-small-offset-#{$i} {
            margin-left: $i / $cols * 100%;
        }
    }
    [class^="col"] {
        padding: 0 $small-columns-gutter / 2;
        &:first-child {
            padding: 0;
        }
        &:last-child {
            padding: 0;
        }
        & [class^="col"] {
            padding: 0px;
            &:first-child {
                padding: 0;
            }
            &:last-child {
                padding: 0;
            }
        }
    }
    .col-small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: both;
        &:first-child {
            padding: 0 $columns-gutter / 2;
        }
    }
}